# Data Mining

The Google's Stock Price data is obtained by using the Yahoo Finance library with the **GOOG** symbol starting from the January 1, 2000 until the December 1, 2023. Also, obtained dataset can be found with **Google_Stock_Price_Dataset.csv** file name.

In [1]:
# library for data manipulation
import pandas as pd

# library for the stock price data
import yfinance as yf

# library for the date-time manipulation
from datetime import date, datetime, timedelta

In [2]:
# Determining start date
start_date = datetime(year=2000, month=1, day=1)
end_date = date.today()

In [3]:
stock_data = yf.download('GOOG',
                         start = start_date,
                         end = end_date,
                         progress = True)

[*********************100%***********************]  1 of 1 completed

In [4]:
# resetting and renaming to avoid program faileres that might occur on the next steps
stock_data = stock_data.reset_index()
stock_data.rename(columns={'Adj Close':'Adj_Close'}, inplace=True)

In [5]:
stock_data.shape

(4856, 7)

In [7]:
stock_data

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512
...,...,...,...,...,...,...,...
4851,2023-11-27,137.570007,139.630005,137.539993,138.050003,138.050003,17886400
4852,2023-11-28,137.630005,138.660004,137.039993,138.619995,138.619995,17046900
4853,2023-11-29,138.985001,139.669998,136.294998,136.399994,136.399994,21014700
4854,2023-11-30,136.399994,136.960007,132.789993,133.919998,133.919998,29913500
4855,2023-12-01,133.320007,133.500000,132.151993,133.320007,133.320007,24258400

In [10]:
stock_data.to_csv('Google_Stock_Price_Dataset.csv', index=False)